alembic==1.14.0
amqp==5.3.1
aniso8601==9.0.1
annotated-types==0.7.0
anyio==3.7.1
Authlib==1.6.5
beautifulsoup4==4.12.2
billiard==4.2.1
blinker==1.8.2
cachelib==0.13.0
celery==5.5.3
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
contourpy==1.3.1
cryptography==45.0.6
cycler==0.12.1
distlib==0.3.8
distro==1.9.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.104.1
filelock==3.16.0
Flask==3.0.3
Flask-Caching==2.3.1
flask-cors==6.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
fonttools==4.55.0
fsspec==2025.10.0
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.0.1
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.25.1
huggingface_hub==1.1.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
kombu==5.5.4
lxml==4.9.3
Mako==1.3.6
MarkupSafe==3.0.2
matplotlib==3.8.2
msgspec==0.18.6
numpy==1.26.2
opencv-python==4.11.0.86
packaging==24.2
pandas==2.1.3
pdf2image==1.17.0
pdfkit==1.0.0
pdfrw==0.4
Pillow==10.1.0
platformdirs==4.3.2
playwright==1.40.0
prompt_toolkit==3.0.51
psutil==7.0.0
pycparser==2.22
pydantic==2.5.0
pydantic-settings==2.1.0
pydantic_core==2.14.1
pyee==11.0.1
PyMuPDF==1.25.3
pyngrok==7.5.0
pyparsing==3.2.0
PyPDF2==3.0.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.0
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==1.0.2
pytz==2024.2
PyYAML==6.0.3
redis==6.2.0
reportlab==4.3.1
requests==2.31.0
scipy==1.16.1
shapely==2.1.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.36
starlette==0.27.0
tabula-py==2.9.0
tqdm==4.67.1
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
uuid==1.30
uvicorn==0.24.0
vine==5.1.0
virtualenv==20.26.4
watchfiles==1.1.1
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.2
xlsxwriter==3.2.9
